<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - klturismo</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <div class="max-width">
            <nav class="container-nav-header">
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home">Inicio</a>
                    </li>
                    <li>
                        <a asp-action="Pacotes" asp-controller="Home">Pacotes</a>
                    </li>
                     <li>
                        <a asp-action="Login" asp-controller="Home">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer >
      
            &copy; 2021 - klturismo
       
    </footer>
    @RenderSection("Scripts", required: false)
</body>

</html>
