@model Usuario

@{
    ViewData["Title"] = "Login";
}
<section class="login">
    <div class="max-width">
        <div class="login-container">
            <form method="POST">
                <label for="Login">Login</label>
                <input asp-for="Login"type="text">
                <label for="Senha">Senha</label>
                <input asp-for="Senha"type="password">
                @ViewBag.Mensagem
                <input class="btn" type="submit" value="Entrar">
                <a asp-action="CadastroUsuario" asp-controller="Sistema">Cadastre-se</a>

            </form>
        </div>
    </div>

</section>