@{
    ViewData["Title"] = "Login";
}
<section class="login">
    <div class="max-width">
        <div class="login-container">
            <form method="POST">
                <label for="login">Login</label>
                <input type="text">
                <label for="Senha">Senha</label>
                <input type="password">
                <input class="btn" type="submit" value="Entrar">
                <a asp-action="CadastroUsuario" asp-controller="Sistema">Cadastre-se</a>
            </form>
        </div>
    </div>

</section>