@{
    ViewData["Title"] = "Home Page";
}


<section class="inicio">
    <div class="max-width">
        <article class="conteudo-inicio">
            <h1>
                Experiências <span>KL</span>TURISMO
            </h1>
            <h2>
                Escolha algumas de nossas experiências
            </h2>
            <p>
                Reserve do transfer ao passeio conosco. Se ainda não sabe quando vai viajar, temos alguns vouchers de
                hospedagem sem data definida que você pode adquirir ou presentear alguém. Nesta opção você verifica
                nossos pacotes.
            </p>
            <a asp-action="Pacotes" asp-controller="Home">Pacotes</a>
            <p>Sua Viagem conosco é completa!</p>
        </article>
    </div>

</section>