@using Microsoft.AspNetCore.Http
@model List<PacoteTuristico>

@{
    ViewData["Title"] = "Pacotes";
}
<section class="pacotes">
    <div class="max-width">
        <div class="pacotes-container">
            <h1 class="title-section">
                Pacotes Turisticos
            </h1>
            <div class="pacotes-content">
                <div class="cards-pacotes">
                    @foreach (PacoteTuristico item in Model)
                    {
                        <div class="card">
                            <header class="header-card">
                                <h2 class="title-card">
                                    @item.Nome
                                </h2>
                            </header>
                            <div class="card-container">
                                <h3>ORIGEM: @item.Origem</h3>
                                <h3>Destino: @item.Destino</h3>
                                <p class="text-card">
                                    <span>Retorno:@item.Retorno</span>  
                                    <span>Saída:@item.Saida</span>  
                                    <p><h3>ATRATIVOS:</h3>@item.Atrativo</p>
                                </p>
                                @if(Context.Session.GetInt32("IdUsuario") != null){

                                <a href="/Sistema/EditarPacotes?Id=@item.Id">Editar Pacote</a>
                                <a href="/Sistema/RemoverPacote?Id=@item.Id">Remover</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>